<html lang="en">
    <head>
        <title>Mini Message Board</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <h1>App</h1>
    </body>
</html>