<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <title>new message</title>
        <link href="/assets/favicon/light-mode-favicon.svg" rel="icon" media="(prefers-color-scheme: light)">
        <link href="/assets/favicon/dark-mode-favicon.svg" rel="icon" media="(prefers-color-scheme: dark)">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const form = document.querySelector(".form");
            const messageElement = document.querySelector(".message");
            const submitMessageBtn = document.querySelector(".submit-message-button");

            form.addEventListener("submit", () => {
                submitMessageBtn.classList.add("hide");
                messageElement.classList.add("animate-submit-exit");

                setTimeout(() => {
                  messageElement.classList.add("hide"); // prevent flickering when redirecting
                }, 1400)
            })
        })
    </script>
    <body>
    <%- include('partials/header', { navigateTo: '/', btnText: 'messages' }) %>
    <main class="main new">
        <div class="message-new-container">
            <%- include("partials/errors.ejs") %>
            <div class="message">
                <form method="POST" action="/new" class="form">
                    <div class="form-row">
                        <label for="username" class="label">username</label>
                        <input type="text" id="username" name="username" class="input" minlength="3" maxlength="25" autocomplete="off" required>
                    </div>
                    <div class="form-row">
                        <label for="message-text" class="label">message</label>
                        <textarea id="message-text" name="messageText" class="textarea" minlength="1" maxlength="150" required></textarea>
                    </div>
                    <button type="submit" class="submit-message-button">
                        <img src="/assets/arrow.png" alt="">
                    </button>
                </form>
                <div class="message-fold"></div>
                <div class="message-fold-cover"></div>
                <div class="message-fold-stripe"></div>
            </div>
        </div>
    </main>
    </body>
</html>